
  /* Common CSS style Start */
 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
 /* Common CSS style End */

 /* Header Banner CSS Style Start */
.banner-area{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("../images/Banner\ Image.png") ,linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 80%);;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 16px;
     background-blend-mode: overlay;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.banner-area .banner-title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
text-align: center;
}
.banner-area .banner-head{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
text-align: center;
}
 /* Header Banner CSS Style Start */

 /* Discount Section CSS Start */

.discount-container{
    width:802px ;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}
/* .discount-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.discount-area .off65{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}
.discount-area .discount-title h5{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.discount-area .discount-title h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 50px;
font-weight: 700;
text-align: center;
}
.discount-area .offer-img{
    width: 802px;
    height: 500px;
    margin-top: 48px;
}
.discount-area .offer-img img{
    width: 100%;
    height: 100%;
}
 /* Discount Section CSS End */

  /* Midnight Section HTML Start  */
.midnight-section{
    width: 1320px;
    height:600px ;
    margin: 0 auto;
    margin-top: 120px;
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.midnight-section .midnight-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.midnight-section .midnight-collom-text{
        width: 645px;
}
.midnight-collom-text .midnight-btn{
    color: rgb(255, 255, 255);
    background-color: black;
font-family: Inter;
font-size: 20px;
text-align: center;
display: block;
margin-left: 25px;
text-transform: uppercase;
border: none;
}
.midnight-section .midnight-collom-img{
   width: 320px;
   height: 465px;
   margin-top: 68px;
}
.midnight-section .midnight-collom-text .midnight-title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
/* text-align: left; */
}
.midnight-section .midnight-collom-text .midnight-description{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-top: 24px;
margin-bottom: 48px;
/* text-align: left; */
}
  /* Midnight Section HTML End  */

  /* Info Section CSS Start  */
.info-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.info-container .info-area{
    width: 550px;
    height:273px ;
}
.info-area .info-text{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    
}
.info-container .info-text .info-color{
    color: rgb(255, 0, 0);
}
.info-container .info-text p{
font-family: Inter;
font-size: 32px;
font-weight: 600;
text-transform: capitalize;
margin-top: 8px;
margin-bottom: 10px;
}
.info-container .info-text .info-btn button{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    padding: 16px 32px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin-top: 46px;

}
  /* Info Section CSS End  */
   /* New Offer Section CSS Start */
  .new-offer-area{
     width: 1320px;
     height: 463px;
     margin: 0 auto;
     margin-top: 120px;
     display: flex;
  }
.new-offer-container .soon-offer{
    width: 393px;
    margin: 104px 70px 0 104px;
}
.new-offer-container .offer-img{
  width: 463px;
  height: 463px;
}
.new-offer-container .offer-img img{
    width: 100%;
    height: 100%;
}
.new-offer-container .offer-year{
    width: 393px;
}
.new-offer-container .soon-offer h3{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
/* text-align: center; */
}
.new-offer-container .soon-offer h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
/* text-align: left; */
text-transform: capitalize;
margin-bottom: 22px;
}
.new-offer-container .soon-offer p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: left;
}
.new-offer-container .offer-year h2{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 16px;
text-align: left;
}
.new-offer-container .offer-year p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: left;
}
.new-offer-container .offer-year{
    padding-top: 112px;
    padding-left: 118px ;
}
.new-offer-container .offer-year .offer-year-img{
    margin-top: 43px;
}
  /* New Offer Section CSS End */

  /* Holiday Section CSS Start  */
.holiday-area{
    width:1320px;
    height:986px;
    margin: 0 auto;
    margin-top: 120px;
    
}
.holiday-container .holiday-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.holiday-container .holiday-header-container h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    
}
.holiday-container .holiday-header-container h1{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-bottom: 28px;
}
.holiday-container .holiday-header-container .holicolor{
    color:rgb(255, 0, 0);
}
.holiday-container .holiday-header-container p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
text-align: center;
/* margin-bottom: 64px; */
}
.holiday-container .holiday-area .holiday-img-container{
    width: 796px;
    height: 662px; 
}

.holiday-container .holiday-area .holiday-disImg-container{
    width:305px ;
    height: 305px ;
    position: absolute;
   top: 77px;
   left:900px ;
}
.holiday-container .holiday-area .holiday-img-container img{
    width: 100%;
    height: 100%;
}
.holiday-container .holiday-imgColor-container{
  position: relative;
  margin-top: 64px;
}
.holiday-container .holiday-imgColor-container .holiday-color-container{
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
background: rgb(255, 0, 0);
position: absolute;
top: 453px;
z-index: -1;
}
  /* Holiday Section CSS End  */

  /* Gift Section CSS Start  */
.gift-container{
      width:1320px ;
      height:1163px;
     margin: 0 auto;
     margin-top: 120px;
  }
.gift-container .gift-text h3{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: left;
margin-bottom: 16px;
  }
.gift-container .gift-text h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
  }
.gift-container .gift-text p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: left;
margin-bottom: 57px;
  }
.gift-container .gift-contains .giftbox{
    width: 424px;
    height: 450px;
} 
.gift-container .gift-contains .giftbox img{
    width: 100%;
    height: 100%;
}
.gift-container .gift-contains{
     /* display: flex;
     justify-content: center;
     align-items: center;
     flex-direction:row; */
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 22px;
     box-sizing: border-box;

}
  /* Gift Section CSS End  */

   /* Subscribe Section CSS Start */
.subscribe-container{
    width: 1320px;
    height:616px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 117px;  
}
.subscribe-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subscribe-container .massage-box{
    width:150px;
    height:150px;
    margin-top: 86px;
}
.subscribe-container .massage-box img{
    width: 100%;
    height: 100%;
}
.subscribe-container .massage-title h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    margin-top:46px;
}
.subscribe-container .massage-title p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: center;
margin-top: 22px;
margin-bottom: 48px;
}
.subscribe-container .input-box input[type="email"]{
padding: 25px 267px 25px 30px;
color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
text-align: center;
border-radius: 50px 0px 0px 50px;
background: rgb(255, 255, 255);
border: none;
}
.subscribe-container .input-box input[type="button"]{
padding: 24px 56px;
color: rgb(255, 255, 255);
border-radius: 0px 50px 50px 0px;
background: rgb(255, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 600;
text-align: center;
text-transform: capitalize;
border: none;
}
   /* Subscribe Section CSS End */

   /* Footer CSS Style Start */
.footer-container{
    width:1320px ;
    height: 609px;
    margin: 0 auto;
    margin-top: 120px;
    background: rgb(7, 2, 17);
    border: 2px solid black;
}
.footer-area hr{
    margin-right:140px;
    margin-left:140px ;
    border:1px solid rgba(255, 255, 255, 0.15);
}
.footer-container .footer-contact{
    display: flex;
    justify-content:space-between;
    margin: 120px 275px 49px 140px;
    
}
.footer-container .footer-contact .contact-text p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: left;
}
.footer-container .footer-contact .contact-num p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: left;
}
.footer-container .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 47px;
}
.footer-container .footer-icons .icon{
    padding-right: 24px;
}
.footer-container .footer-text{
    display: flex;
    margin: 50px 140px 120px 140px;
    justify-content: space-between;
}
.footer-container .footer-text span {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: left;
}
   /* Footer CSS Style End */