
  /* Common CSS style Start */
 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
 /* Common CSS style End */

 /* Header Banner CSS Style Start */
.banner-area{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("../images/Banner\ Image.png") ,linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 80%);;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 16px;
     background-blend-mode: overlay;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.banner-area .banner-title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
text-align: center;
}
.banner-area .banner-head{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
text-align: center;
}
 /* Header Banner CSS Style Start */

 /* Discount Section CSS Start */

.discount-container{
    width:802px ;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}
/* .discount-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.discount-area .off65{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}
.discount-area .discount-title h5{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.discount-area .discount-title h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 50px;
font-weight: 700;
text-align: center;
}
.discount-area .offer-img{
    width: 802px;
    height: 500px;
    margin-top: 48px;
}
.discount-area .offer-img img{
    width: 100%;
    height: 100%;
}
 /* Discount Section CSS End */

  /* Midnight Section HTML Start  */
.midnight-section{
    width: 1320px;
    height:600px ;
    margin: 0 auto;
    margin-top: 120px;
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.midnight-section .midnight-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.midnight-section .midnight-collom-text{
        width: 645px;
}
.midnight-collom-text .midnight-btn{
    color: rgb(255, 255, 255);
    background-color: black;
font-family: Inter;
font-size: 20px;
text-align: center;
display: block;
margin-left: 25px;
text-transform: uppercase;
border: none;
}
.midnight-section .midnight-collom-img{
   width: 320px;
   height: 465px;
   margin-top: 68px;
}
.midnight-section .midnight-collom-text .midnight-title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
/* text-align: left; */
}
.midnight-section .midnight-collom-text .midnight-description{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-top: 24px;
margin-bottom: 48px;
/* text-align: left; */
}
  /* Midnight Section HTML End  */

  /* Info Section CSS Start  */
.info-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
.info-container .info-area{
    width: 550px;
    height:273px ;
}
.info-area .info-text{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    
}
.info-container .info-text .info-color{
    color: rgb(255, 0, 0);
}
.info-container .info-text p{
font-family: Inter;
font-size: 32px;
font-weight: 600;
text-transform: capitalize;
margin-top: 8px;
margin-bottom: 10px;
}
.info-container .info-text .info-btn button{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    padding: 16px 32px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin-top: 46px;

}
  /* Info Section CSS End  */
   /* New Offer Section CSS Start */
  .new-offer-area{
     width: 1320px;
     height: 463px;
     margin: 0 auto;
     margin-top: 120px;
     border: 2px solid red;
     display: flex;
  }
.new-offer-container .soon-offer{
    width: 393px;
    margin: 104px 70px 0 104px;
}
.new-offer-container .offer-img{
  width: 463px;
  height: 463px;
}
.new-offer-container .offer-img img{
    width: 100%;
    height: 100%;
}
.new-offer-container .offer-year{
    width: 393px;
}
.new-offer-container .soon-offer h3{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
/* text-align: center; */
}
.new-offer-container .soon-offer h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
/* text-align: left; */
text-transform: capitalize;
margin-bottom: 22px;
}
.new-offer-container .soon-offer p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
/* text-align: left; */
}
  /* New Offer Section CSS End */